@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500&display=swap");

body {
  background-color: lightgray;
  margin: 0 12.5px;
  font-family: "Mukta";
}

h1 {
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #666;
}

h2,
h3 {
  font-size: 30px;
  font-weight: 500;
  color: #666;
}

h2 {
  font-weight: 300;
}

a {
  color: fuchsia;
  font-weight: 500;
}

.text-links {
  text-decoration: underline;
  font-weight: 400;
}

.author {
  color: #666;
}

li:before {
  content: "▸ ";
  color: fuchsia;
}

li {
  margin: 10px 0;
  border-bottom: 1px dotted #666;
  color: #888;
  font-weight: 300;
  font-size: 20px;
  padding: 10px 0;
  line-height: 1.6rem;
}

p {
  font-size: 25px;
  padding: 5px 0;
  line-height: 2rem;
  color: #444;
}

#title {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 225px;
}

.radial-gradient {
  background: radial-gradient(
      circle at 25% 50%,
      #fff 4%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    repeating-conic-gradient(at 25% 50%, #ccc 0 6deg, white 0 12deg);
  height: 100%;
}

.radial-gradient h1 {
  padding: 50px 0 0 100px;
}

.radial-gradient h2 {
  padding-left: 150px;
}

#aside-content {
  width: 100%;
}

#main-content {
  width: 100%;
}

.box {
  border-radius: 10px;
  padding: 10px;
  margin: 12.5px;
  background-color: white;
  -webkit-box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.pink {
  color: fuchsia;
}

.content {
  width: 100%;
}

.box-wrapper {
  width: 85%;
  padding: 10px;
}

.aside-box-wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

.linear-background {
  background: repeating-linear-gradient(
      135deg,
      transparent,
      transparent 10px,
      #fff 10px,
      #fff 20px
    ),
    linear-gradient(180deg, rgb(219, 218, 218, 0.8) 0%, #fff 100%);
  background-size: 100% 50px;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  #aside-content {
    width: 25%;
    float: left;
  }

  #main-content {
    width: 75%;
    float: right;
  }

  .right {
    margin-left: auto;
  }
}
